
.swiper-background{margin-bottom:50px ;
  
  background-size: cover;padding: 10px;
h2{color: white ;}}
.swiper-cards{width: 80%;margin: auto;}
 .swiper-card{margin: auto;width: 90%;}
.swiper-data{display: flex;flex-direction: column;width: 30%;text-align: center;padding: 20px;color:white;height: 600px;
h3{color: white;font-size: 30px;font-weight:600;font-family:'Times New Roman', Times, serif;}}
h3:hover{color: rgb(247, 157, 5);}

@media (max-width: 480px) {
  .swiper-data {
      width: 100%; 
      padding: 10px; 
  }
  .swiper-data h3 {font-size: 20px;
  }

  p {
      font-size: 10px; 
      margin: 6px 0; 
  }
}
