
.swiper-background{margin-bottom:50px ;
  background: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.842)), url('src/Components/imges/Arabic-style-1-1-800x569.png') no-repeat center center;
  background-size: cover;padding: 10px;
h2{color: white ;}}
.swiper-cards{width: 80%;margin: auto;}
 .swiper-card{margin: auto;width: 90%;}
.swiper-data{display: flex;flex-direction: column;width: 30%;text-align: center;padding: 20px;color:white;height: 600px;
h3{color: white;font-size: 30px;font-weight:600;font-family:'Times New Roman', Times, serif;}}
h3:hover{color: rgb(247, 157, 5);}

